.layout {
  width: 100%;
  margin: 0 auto;
  max-width: 1154px;
  position: relative;
}
.layout::before {
  position: absolute;
  content: "";
  background: url("../../public/images/banner.jpg") center/cover no-repeat;
  width: 1320px;
  height: 318px;
  left: -60px;
  top: 0;
  z-index: -1;
}

.item-page {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  padding: 0 15px;
  padding-top: 40px;
  font-weight: normal;
}
.item-page > .item-page-content > img {
  width: 100%;
  height: auto;
}
.item-page > .item-page-content > h1 {
  border-bottom: 2px solid #eee;
  padding: 0 7px 15px 0;
  margin: 0 0 25px;
  color: #0D7D7D;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.section-table .section-table-content {
  display: flex;
  flex-direction: column;
}
.section-table .section-table-content > div {
  margin-bottom: 15px;
  padding-bottom: 30px;
}
.section-table .section-table-content > div > img {
  max-width: 180px;
  min-height: 100px;
  min-width: 100px;
  min-width: 180px;
  width: auto;
  height: auto;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
}
.section-table .section-table-content > div > div > a {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #0D7D7D;
}
.section-table .section-table-content > div > div > a:hover {
  color: #fcb82d;
}
.section-table .section-table-content > div > div > p {
  font-size: 14px;
  color: #444;
}

.card {
  margin: 12px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  padding: 0 12px 12px;
  padding-top: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.15);
}
.card > span {
  margin-top: -32px;
  text-transform: uppercase;
  padding: 0 12px;
  color: #fff;
  background: #da261c;
  z-index: 1;
  position: relative;
  font-size: 14px;
  line-height: 1.42857143;
}
.card > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card > p {
  display: block;
  text-align: center;
}

.header > .header-banner {
  height: 248px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  z-index: 2;
}
.header > .header-banner > div {
  display: flex;
  height: 100%;
  align-items: center;
}
.header > .header-banner > div > h1 {
  position: absolute;
  left: 215px;
  height: 77.1px;
  top: 70px;
  margin-bottom: -20px;
  width: 235px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #29166f;
  width: 260px;
  line-height: 1.42857143;
}
.header > .header-navbar {
  display: flex;
  justify-content: start;
  height: 50px;
  border-radius: 8px;
  background-color: #0D7D7D;
}
.header > .header-navbar > li {
  position: relative;
}
.header > .header-navbar > li:first-child > a {
  padding-left: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header > .header-navbar > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 15px;
  padding: 0 12px;
  padding-left: 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.header > .header-navbar > li > a:hover {
  color: #000;
  background-color: #fcb82d;
}
.header > .header-navbar > li > ol {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fcb82d;
  position: absolute;
  display: none;
}
.header > .header-navbar > li > ol > li {
  padding: 0 12px;
  padding-left: 12px;
}
.header > .header-navbar > li > ol > li:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.2);
}
.header > .header-navbar > li > ol > li > a {
  display: flex;
  align-items: center;
  font-weight: 400;
  position: relative;
  font-size: 13px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  color: rgba(41, 22, 111, 0.8);
  text-decoration: none;
  text-transform: none;
  display: block;
  padding: 10px 25px 10px 15px;
  transition: all 0.3s ease-out;
}
.header > .header-navbar > li:hover > ol {
  display: flex;
}

.educational-plans {
  width: 200px;
}

.home {
  display: grid;
  grid-template-columns: 865.5px 288.5px;
  min-height: 100vh;
}
.home > .home-content-right {
  padding-top: 40px;
}

.header-component {
  border-bottom: 2px solid #eee;
  padding: 0 7px 15px 0;
  margin: 0 0 25px;
  color: #0D7D7D;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-top: 45px;
}

.footer {
  background: #0fa1a1;
  border-top: 10px solid #075555;
  height: 218px;
  padding: 35px 0;
}
.footer > .footer-container {
  display: flex;
  max-width: 1154px;
  margin: 0 auto;
  gap: 70px;
}
.footer > .footer-container > .footer-container-copy {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer > .footer-container > .footer-container-copy > .title {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 14px;
}
.footer > .footer-container > .footer-container-copy > .address {
  font-size: 14px;
  line-height: 1.42857143;
  color: rgba(255, 255, 255, 0.54);
}
.footer > .footer-container > .footer-container-copy > .footer-container-partner {
  display: flex;
  margin-top: 15px;
}
.footer > .footer-container > .footer-container-copy > .footer-container-partner > .slideMain {
  display: flex;
  gap: 24px;
}
.footer > .footer-container > .footer-container-copy > .footer-container-partner > .slideMain > .slide {
  width: 160px;
  height: 75px;
  cursor: pointer;
}
.footer > .footer-container > .footer-container-copy > .footer-container-partner > .slideMain > .slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=globalStyles.css.map */