.layout {
  width: 100%;
  margin: 0 auto;
  max-width: 1154px;
  position: relative;
  // overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    background: url("../../public/images/banner.jpg") center / cover no-repeat;
    width: 1350px;
    height: 308px;
    left: -90px;
    top: 0;
    z-index: -1;
  }
}
.auto-slider {
  // display: flex;
  margin: 10px 0;
  display: grid;
  gap: 10px;
  grid-area: 5 / 1 / 6 / 3;
  // gap: ;
  & > .auto-slider-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 0px;
    padding: 7px 0 7px 15px;
    position: relative;
    background: #0d7d7d;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    border-bottom: 4px solid #fecb01;
    position: relative;
    & > .auto-slider-buttons {
      position: absolute;
      top: 1px;
      right: 0;
      display: flex;
      & > button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        &:hover {
          background-color: #ffffff31;
        }
        & > svg {
          font-size: 25px;
          color: white;
        }
      }
    }
  }
  & > .auto-slider-content {
    display: flex;
    overflow-x: hidden;
    & > a {
      & > img {
        object-fit: cover;
      }
    }
  }
}
.auto-slider-bunner {
  // display: flex;
  margin: 30px 0;
  margin-bottom: 40px;
  display: grid;
  gap: 10px;
  height: auto;
  // gap: ;
  position: relative;
  & > .auto-slider-bunner-content {
    display: flex;
    overflow-y: hidden;
    overflow: auto;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    & > nav {
      top: 92%;
      right: 0;
      position: sticky;
      display: flex;
      gap: 10px;
      height: 15px;
      & > button {
        cursor: pointer;
        width: 15px;
        height: 15px;
        border-radius: 0;
        background: #fff;
        border: 1px solid #bed8e9;
        &:hover {
          background: #3333332c;
        }
      }
      & > .active-button {
        width: 15px;
        height: 15px;
        border-radius: 0 !important;
        background: #a6cbe5;
        border: 1px solid #bed8e9;
        box-shadow: none !important;
      }
    }
    & > div {
      display: flex;
      gap: 30px;
      height: 340px;
      & > img {
        object-fit: cover;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
      }
      & > div {
        display: flex;
        flex-direction: column;
        max-width: 433px;
        gap: 10px;
        & > a {
          // display: block;
          max-width: 100%;
          font-size: 17px;
          font-weight: bold;
          color: #1e7bbd;
          margin-top: 5px;
          text-transform: uppercase;
          text-decoration: none;
        }
        & > p {
          color: #6b6b6b;
          font-size: 14px;
          line-height: 22px;
        }
        & > span {
          margin-top: 30px;
          color: #a6cbe5;
          font-size: 13px;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}
.alt {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid #eee;
}
.list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
  // gap: ;
  & > .list-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 0px;
    padding: 7px 0 7px 15px;
    position: relative;
    background: #0d7d7d;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    border-bottom: 4px solid #fecb01;
    position: relative;
    & > a {
      float: right;
      text-transform: none;
      color: rgba(255, 255, 255, 0.8);
      margin-right: 15px;
      text-decoration: none;
    }
  }

  & > .list-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #075555;
    width: 360px;
    & > a {
      padding: 0 25px;
      height: 38px;
      text-decoration: none;

      & > span {
        display: flex;
        align-items: center;
        justify-content: start;
        border-bottom: 1px dashed #8ba7cd;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        height: 100%;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
  & > .list-content-second {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    & > div {
      display: flex;
      gap: 20px;
      max-width: 474px;
      & > img {
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-right: 20px;
        max-width: 100px;
        width: 100%;
        height: auto;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
        overflow: hidden;
      }
      & > div {
        display: flex;
        flex-direction: column;
        // gap: 5px;
        & > a {
          font-size: 14px;
          line-height: 1.42857143;
          text-decoration: none;
          &:hover {
            color: #fcb82d;
          }
        }
        & > span {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 14px;
          color: #999;
          position: relative;
          height: 20px;
          & > svg {
            font-size: 14px;
          }
        }
      }
    }
  }
  & > .list-content-cadets {
    display: flex;
    height: 220px;
    // flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    & > div {
      display: flex;
      gap: 20px;
      // max-width: 474px;
      & > img {
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-right: 20px;
        max-width: 100px;
        width: 100%;
        height: auto;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
        overflow: hidden;
      }
      & > div {
        display: flex;
        flex-direction: column;
        // gap: 5px;
        & > a {
          font-size: 14px;
          line-height: 1.42857143;
          text-decoration: none;
          color: #444;
          &:hover {
            color: #fcb82d;
          }
        }
        & > span {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 14px;
          color: #999;
          position: relative;
          height: 20px;
          & > svg {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.item-page {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  padding: 0 15px;
  padding-top: 40px;
  font-weight: normal;

  & > .item-page-content {
    & > img {
      width: 100%;
      height: auto;
    }
    & > h1 {
      border-bottom: 2px solid #eee;
      padding: 0 7px 15px 0;
      margin: 0 0 25px;
      color: #0d7d7d;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
.section-table {
  & .section-table-content {
    display: flex;
    flex-direction: column;
    & > div {
      margin-bottom: 15px;
      padding-bottom: 30px;
      & > img {
        max-width: 180px;
        min-height: 100px;
        min-width: 100px;
        min-width: 180px;

        width: auto;
        height: auto;
        // object-fit: cover;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
      }
      & > div {
        & > a {
          cursor: pointer;
          display: block;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: bold;
          color: #0d7d7d;
          &:hover {
            color: #fcb82d;
          }
        }
        & > p {
          font-size: 14px;
          color: #444;
        }
      }
    }
  }
}
.card {
  margin: 12px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  padding: 0 12px 12px;
  padding-top: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.15);
  & > span {
    margin-top: -32px;
    // margin: 0 10px 0 10px;
    // font-size: 14px;
    // line-height: 32px;
    text-transform: uppercase;
    padding: 4px 12px;
    color: #fff;
    background: #da261c;
    z-index: 1;
    position: relative;
    font-size: 14px;
    line-height: 1.42857143;
  }
  & > img {
    width: 100%;
    object-fit: cover;
  }
  & > p {
    display: block;
    text-align: center;
    font-size: 14px;
  }
}
.header {
  height: 308px;
  & > .header-banner {
    height: 248px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 12px;
    position: relative;
    z-index: 2;
    & > div {
      display: flex;
      height: 100%;
      align-items: center;
      display: none;
      & > h1 {
        position: absolute;
        left: 215px;
        height: 77.1px;
        top: 70px;
        margin-bottom: -20px;
        width: 235px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #29166f;
        width: 260px;
        line-height: 1.42857143;
      }
    }
  }
  & > .header-navbar {
    display: flex;
    justify-content: start;
    height: 50px;
    border-radius: 8px;
    background-color: #0d7d7d;
    z-index: 999;
    position: relative;

    & > li {
      position: relative;
      &:first-child {
        & > a {
          padding-left: 15px;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }
      // &:last-child {
      //   & > a {
      //     padding-left: 15px;
      //     border-top-right-radius: 8px;
      //     border-bottom-right-radius: 8px;
      //   }
      // }
      & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        line-height: 15px;
        padding: 0 12px;
        padding-left: 12px;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        transition: all 0.3s ease-out;

        &:hover {
          color: #000;
          background-color: #fcb82d;
        }
      }
      & > ol {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fcb82d;
        position: absolute;
        display: none;
        & > li {
          padding: 0 12px;
          padding-left: 12px;
          // width: 100%;
          &:hover {
            color: #000;
            background: rgba(0, 0, 0, 0.2);
          }
          & > a {
            display: flex;
            align-items: center;
            font-weight: 400;
            position: relative;
            font-size: 13px;
            border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
            color: rgba(41, 22, 111, 0.8);
            text-decoration: none;
            text-transform: none;
            display: block;
            padding: 10px 25px 10px 15px;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
          }
        }
      }
      &:hover > ol {
        display: flex;
      }
    }
  }
}
.educational-plans {
  // width: 200px;
}
.home {
  display: grid;
  grid-template-columns: 865.5px 288.5px;
  min-height: 100vh;
  & > .home-content-right {
    padding-top: 40px;
  }
  & > .home-content-left {
    & > .home-content-child {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      height: 580px;
    }
  }
}
.khabarho {
}
.header-component {
  border-bottom: 2px solid #eee;
  padding: 0 7px 15px 0;
  margin: 0 0 25px;
  color: #0d7d7d;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-top: 45px;
}
.footer {
  margin-top: 50px;
  background: #0d7d7d;
  border-top: 10px solid #075555;
  height: 218px;
  padding: 35px 0;
  & > .footer-container {
    display: flex;
    max-width: 1154px;
    margin: 0 auto;
    gap: 70px;
    & > .footer-container-copy {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > .title {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
      }
      & > .address {
        font-size: 16px;
        line-height: 1.42857143;
        color: rgba(255, 255, 255, 0.842);
      }
      & > .footer-container-partner {
        display: flex;
        margin-top: 15px;
        & > .slideMain {
          display: flex;
          gap: 24px;
          & > .slide {
            width: 160px;
            height: 75px;
            cursor: pointer;
            & > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
