.layout {
  width: 100%;
  margin: 0 auto;
  max-width: 1154px;
  position: relative;
}
.layout::before {
  position: absolute;
  content: "";
  background: url("../../public/images/banner.jpg") center/cover no-repeat;
  width: 1350px;
  height: 308px;
  left: -90px;
  top: 0;
  z-index: -1;
}
@media (max-width: 750px) {
  .layout::before {
    display: none;
  }
}

.auto-slider {
  margin: 10px 0;
  display: grid;
  gap: 10px;
  grid-area: 5/1/6/3;
  width: 100%;
}
.auto-slider > .auto-slider-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0px;
  padding: 7px 0 7px 15px;
  position: relative;
  background: #0d7d7d;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  border-bottom: 4px solid #fecb01;
  position: relative;
}
.auto-slider > .auto-slider-header > .auto-slider-buttons {
  position: absolute;
  top: 1px;
  right: 0;
  display: flex;
}
.auto-slider > .auto-slider-header > .auto-slider-buttons > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.auto-slider > .auto-slider-header > .auto-slider-buttons > button:hover {
  background-color: rgba(255, 255, 255, 0.1921568627);
}
.auto-slider > .auto-slider-header > .auto-slider-buttons > button > svg {
  font-size: 25px;
  color: white;
}
.auto-slider > .auto-slider-content {
  display: flex;
  overflow-x: hidden;
}
.auto-slider > .auto-slider-content > a > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.auto-slider-bunner {
  margin: 30px 0;
  margin-bottom: 40px;
  display: grid;
  gap: 10px;
  height: auto;
  position: relative;
}
.auto-slider-bunner > .auto-slider-bunner-content {
  display: flex;
  overflow-y: hidden;
  overflow: auto;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.auto-slider-bunner > .auto-slider-bunner-content > nav {
  top: 92%;
  right: 0;
  position: sticky;
  display: flex;
  gap: 10px;
  height: 15px;
}
@media (max-width: 750px) {
  .auto-slider-bunner > .auto-slider-bunner-content > nav {
    right: 20px;
  }
}
.auto-slider-bunner > .auto-slider-bunner-content > nav > button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 0;
  background: #fff;
  border: 1px solid #bed8e9;
}
.auto-slider-bunner > .auto-slider-bunner-content > nav > button:hover {
  background: rgba(51, 51, 51, 0.1725490196);
}
.auto-slider-bunner > .auto-slider-bunner-content > nav > .active-button {
  width: 15px;
  height: 15px;
  border-radius: 0 !important;
  background: #a6cbe5;
  border: 1px solid #bed8e9;
  box-shadow: none !important;
}
.auto-slider-bunner > .auto-slider-bunner-content > div {
  display: flex;
  gap: 30px;
  height: 340px;
}
@media (max-width: 750px) {
  .auto-slider-bunner > .auto-slider-bunner-content > div {
    flex-direction: column;
    height: auto;
    min-width: 100% !important;
  }
}
.auto-slider-bunner > .auto-slider-bunner-content > div > img {
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 750px) {
  .auto-slider-bunner > .auto-slider-bunner-content > div > img {
    width: 100%;
    height: auto;
    max-height: 564px;
  }
}
.auto-slider-bunner > .auto-slider-bunner-content > div > div {
  display: flex;
  flex-direction: column;
  max-width: 433px;
  gap: 10px;
}
@media (max-width: 750px) {
  .auto-slider-bunner > .auto-slider-bunner-content > div > div {
    max-width: 100%;
  }
}
.auto-slider-bunner > .auto-slider-bunner-content > div > div > a {
  max-width: 100%;
  font-size: 17px;
  font-weight: bold;
  color: #1e7bbd;
  margin-top: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
.auto-slider-bunner > .auto-slider-bunner-content > div > div > p {
  color: #6b6b6b;
  font-size: 14px;
  line-height: 22px;
}
.auto-slider-bunner > .auto-slider-bunner-content > div > div > span {
  margin-top: 30px;
  color: #a6cbe5;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.alt {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid #eee;
}

@media (max-width: 750px) {
  .list-data {
    display: none !important;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}
@media (max-width: 750px) {
  .list {
    width: 100%;
    height: auto;
  }
}
.list > .list-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0px;
  padding: 7px 0 7px 15px;
  position: relative;
  background: #0d7d7d;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  border-bottom: 4px solid #fecb01;
  position: relative;
}
.list > .list-header > a {
  float: right;
  text-transform: none;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 15px;
  text-decoration: none;
}
.list > .list-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #075555;
  width: 360px;
}
@media (max-width: 750px) {
  .list > .list-content {
    width: 100%;
  }
}
.list > .list-content > a {
  padding: 0 25px;
  height: 38px;
  text-decoration: none;
}
.list > .list-content > a > span {
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px dashed #8ba7cd;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  height: 100%;
}
.list > .list-content > a:hover {
  background: rgba(255, 255, 255, 0.05);
}
.list > .list-content-second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
}
.list > .list-content-second > div {
  display: flex;
  gap: 20px;
  max-width: 474px;
}
.list > .list-content-second > div > img {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.list > .list-content-second > div > div {
  display: flex;
  flex-direction: column;
}
.list > .list-content-second > div > div > a {
  font-size: 14px;
  line-height: 1.42857143;
  text-decoration: none;
}
.list > .list-content-second > div > div > a:hover {
  color: #fcb82d;
}
.list > .list-content-second > div > div > span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #999;
  position: relative;
  height: 20px;
}
.list > .list-content-second > div > div > span > svg {
  font-size: 14px;
}
.list > .list-content-cadets {
  display: flex;
  height: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
}
@media (max-width: 750px) {
  .list > .list-content-cadets {
    flex-wrap: wrap;
    height: auto;
  }
}
.list > .list-content-cadets > div {
  display: flex;
  gap: 20px;
}
@media (max-width: 750px) {
  .list > .list-content-cadets > div {
    width: 50%;
  }
}
.list > .list-content-cadets > div > img {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.list > .list-content-cadets > div > div {
  display: flex;
  flex-direction: column;
}
.list > .list-content-cadets > div > div > a {
  font-size: 14px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #444;
}
.list > .list-content-cadets > div > div > a:hover {
  color: #fcb82d;
}
.list > .list-content-cadets > div > div > span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #999;
  position: relative;
  height: 20px;
}
.list > .list-content-cadets > div > div > span > svg {
  font-size: 14px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item-page {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  padding: 0 15px;
  padding-top: 40px;
  font-weight: normal;
}
.item-page > .item-page-content > img {
  width: 100%;
  height: auto;
}
.item-page > .item-page-content > h1 {
  border-bottom: 2px solid #eee;
  padding: 0 7px 15px 0;
  margin: 0 0 25px;
  color: #0d7d7d;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.section-table .section-table-content {
  display: flex;
  flex-direction: column;
}
.section-table .section-table-content > div {
  margin-bottom: 15px;
  padding-bottom: 30px;
}
.section-table .section-table-content > div > img {
  max-width: 180px;
  min-height: 100px;
  min-width: 100px;
  min-width: 180px;
  width: auto;
  height: auto;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
}
.section-table .section-table-content > div > div > a {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #0d7d7d;
}
.section-table .section-table-content > div > div > a:hover {
  color: #fcb82d;
}
.section-table .section-table-content > div > div > p {
  font-size: 14px;
  color: #444;
}

.card {
  margin: 12px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  padding: 0 12px 12px;
  padding-top: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.15);
}
.card > span {
  margin-top: -32px;
  text-transform: uppercase;
  padding: 4px 12px;
  color: #fff;
  background: #da261c;
  z-index: 1;
  position: relative;
  font-size: 14px;
  line-height: 1.42857143;
}
.card > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card > p {
  display: block;
  text-align: center;
  font-size: 14px;
}

.header {
  height: 308px;
}
.header > .header-banner {
  height: 248px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 12px;
  position: relative;
  z-index: 2;
}
.header > .header-banner > div {
  display: flex;
  height: 100%;
  align-items: center;
  display: none;
}
.header > .header-banner > div > h1 {
  position: absolute;
  left: 215px;
  height: 77.1px;
  top: 70px;
  margin-bottom: -20px;
  width: 235px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #29166f;
  width: 260px;
  line-height: 1.42857143;
}
.header > .header-navbar {
  display: flex;
  justify-content: start;
  height: 50px;
  border-radius: 8px;
  background-color: #0d7d7d;
  z-index: 999;
  position: relative;
}
.header > .header-navbar > li {
  position: relative;
}
.header > .header-navbar > li:first-child > a {
  padding-left: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header > .header-navbar > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 15px;
  padding: 0 12px;
  padding-left: 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.header > .header-navbar > li > a:hover {
  color: #000;
  background-color: #fcb82d;
}
.header > .header-navbar > li > ol {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fcb82d;
  position: absolute;
  display: none;
}
.header > .header-navbar > li > ol > li {
  padding: 0 12px;
  padding-left: 12px;
}
.header > .header-navbar > li > ol > li:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.2);
}
.header > .header-navbar > li > ol > li > a {
  display: flex;
  align-items: center;
  font-weight: 400;
  position: relative;
  font-size: 13px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  color: rgba(41, 22, 111, 0.8);
  text-decoration: none;
  text-transform: none;
  display: block;
  padding: 10px 25px 10px 15px;
  transition: all 0.3s ease-out;
}
.header > .header-navbar > li:hover > ol {
  display: flex;
}

.home {
  display: grid;
  grid-template-columns: 865.5px 288.5px;
  min-height: 100vh;
  padding: 0 20px;
}
@media (max-width: 750px) {
  .home {
    grid-template-columns: 1fr;
  }
}
.home > .home-content-right {
  padding-top: 40px;
}
@media (max-width: 750px) {
  .home > .home-content-right {
    display: none;
  }
}
.home > .home-content-left > .home-content-child {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  height: 580px;
}
@media (max-width: 750px) {
  .home > .home-content-left > .home-content-child {
    height: auto;
  }
}

.header-component {
  border-bottom: 2px solid #eee;
  padding: 0 7px 15px 0;
  margin: 0 0 25px;
  color: #0d7d7d;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-top: 45px;
}

.footer {
  margin-top: 50px;
  background: #0d7d7d;
  border-top: 10px solid #075555;
  height: 218px;
  padding: 35px 0;
}
.footer > .footer-container {
  display: flex;
  max-width: 1154px;
  margin: 0 auto;
  gap: 70px;
}
@media (max-width: 750px) {
  .footer > .footer-container {
    padding: 0 20px;
  }
  .footer > .footer-container > img {
    display: none;
  }
}
.footer > .footer-container > .footer-container-copy {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer > .footer-container > .footer-container-copy > .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.footer > .footer-container > .footer-container-copy > .address {
  font-size: 16px;
  line-height: 1.42857143;
  color: rgba(255, 255, 255, 0.842);
}
.footer > .footer-container > .footer-container-copy > .footer-container-partner {
  display: flex;
  margin-top: 15px;
}
.footer > .footer-container > .footer-container-copy > .footer-container-partner > .slideMain {
  display: flex;
  gap: 24px;
}
.footer > .footer-container > .footer-container-copy > .footer-container-partner > .slideMain > .slide {
  width: 160px;
  height: 75px;
  cursor: pointer;
}
.footer > .footer-container > .footer-container-copy > .footer-container-partner > .slideMain > .slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=globalStyles.css.map */